.login-container{
    width: 50vw;
    margin-left: 12vw;
    text-align: center;
}

.welcome-box {
    margin: 1rem;
}

.login-btn-box , .input-box {
    font-size: 0.8rem;
    margin: 1.5rem;
}

.input-box input{
    height: 0.5rem;
}

#userID, #userPWD{
    width: 20vw;
    border: 1px solid #bababa;
    border-radius: 10px;
    padding: 0.7rem;
    text-align: center;
    margin: 0 1rem;
}

#userID:focus, #userPWD:focus{
    outline: none; 
    color: #bb2649;    
    border: 1px solid #bb2649; 
}

.profile-btn-box{
    text-align: center;
}

.login-btn , .join-btn {
    cursor: pointer;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    color: #929292;
    margin: 0.8rem;
}

.login-btn:hover , .join-btn:hover{
    border: 1px solid #bb2649;
    border-radius: 30px;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #bb2649;
    padding: 0.5rem 2rem;
    transition: all.5s;

}

.welcome-box{
    margin-left: 2rem;
    margin-bottom: 3.6rem;
    color: #202020;
}

.welcome-box p span{
    color: #bb2649;
}