.profileHeader-container{
    display: block;
    margin: 0 2rem;
}

.userNick{
    font-size: 2.5rem;
    margin: 0;
}

.userEmail{
    font-size: 1.2rem;
    margin: 0 .5rem;
    color: #5c5c5c;
}

.profileHeader-container{
    padding-bottom: 2rem;
    border-bottom: 1px solid #bb2649;
    margin-bottom: 2rem;
}
