.video-container * {
    background-color: #fff;
}

.playVideoBox iframe{
    border: none; 
    position:absolute; 
    width:100%; 
    height:100%
}

.playVideoBox {
    position:relative; 
    width:100%; height:0; 
    padding-bottom:56.25%;
}

@media (max-width: 880px) {
    .txtContainer p{
      font-size: .7rem;
    }
}


/* iframe 사이즈 참고
https://okayoon.tistory.com/entry/css%EB%A7%8C%EC%9C%BC%EB%A1%9C-%EB%B0%98%EC%9D%91%ED%98%95-%EB%B9%84%EB%94%94%EC%98%A4-%EB%A7%8C%EB%93%A4%EA%B8%B0 */