/* body {
    width: 963px;
    height: 1007px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 17px 24px 0;
    padding: 10px 17px;
    border-radius: 20px;
    background-color: #fff;
  } */