.header {
    display: flex;
    position:sticky;
    top:0;
    width: 100vw;
    height: 6rem;
    padding: 0.1rem;
    z-index: 10000;
    justify-content: space-between;
    align-items: center;
  }

  .logoArea{
    width: 4.5rem;
    padding: 0 3.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }

  .headerLogo{
    width: 100%;
    min-width: 4rem;
  }

  .search-InputArea{
    display: flex;
    align-items: center;
  }

  .searchInput {
    width: 60vw;
    height: 2.5rem;
    flex-grow: 0;
    margin: 0 0 0 0.4rem;
    padding: 0.25rem 3.00rem 0.38rem 3.63rem;
    border-radius: 0.63rem;
    background-color: #fff;
    border:none
  }

  .searchInput:focus{
    border: 1px solid;
    border-color:#bb2649;
    outline: none;
  }
  
  .searchBtn-box{
    width: 3rem;
    height: 2.81rem;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#828282;

}

.searchBtn-box:hover{
    color:#bb2649;
    border:1px solid #bb2649;
}

.searchBtn{
    margin: auto;
    cursor: pointer;
}

.topMenuArea .topIcon{
    width: 3rem;
    color:#ccc;
    cursor: pointer;
}

.topMenuArea .topIcon:hover{ 
    color:#bb2649;
}

.topMenuArea{
    padding-right: 0.1rem;
    width: 15rem;
}

@media (max-width: 1050px) {
  .logoArea{
    width: 5rem;
    /* padding: 0 3rem 0 1.5rem; */
  }
}

@media (max-width: 880px) {
  .logoArea{
    width: 3rem;
    padding: 0 3rem 0 1.5rem;
  }
}

.show-menu.personal{
  width: 5rem;
  height: 5.2rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  position: absolute;
  left: 91vw;
  transition: 1s;
  display: block;
  padding: 3px;
  margin: 3px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.15);
  visibility: visible;
  transition: visibility 0s, opacity 0.3s linear;
  z-index: 1;
  opacity: 1;
}

.show-menu.making{
  width: 8rem;
  height: 5.2rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  position: absolute;
  left: 78vw;
  transition: 1s;
  display: block;
  padding: 3px;
  margin: 3px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.15);
  
}

.show-menu li{
  margin: 1rem 0.5rem;
  text-align: center;
  cursor: pointer;
}

.show-menu li:hover{
  color: #bb2649;
}

.show-menu li button {
  cursor: pointer;
}

.hide-menu{
  width: 5rem;
  height: 6rem;
  position: absolute;
  transition: 1s;
  display: none;
}
