.header {
    display: flex;
    position:sticky;
    top:0;
    width: 100vw;
    height: 6rem;
    padding: 0.1rem;
    z-index: 10000;
    justify-content: space-between;
    align-items: center;
  }

  .logoArea{
    width: 5.5rem;
    padding: 0 3.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }

  .headerLogo{
    width: 100%;
    min-width: 4rem;
  }

  .search-InputArea{
    display: flex;
    align-items: center;
  }

  .searchInput {
    width: 60vw;
    height: 2.5rem;
    flex-grow: 0;
    margin: 0 0 0 0.4rem;
    padding: 0.25rem 3.00rem 0.38rem 3.63rem;
    border-radius: 0.63rem;
    background-color: #fff;
    border:none
  }

  .searchInput:focus{
    border: 1px solid;
    border-color:#bb2649;
    outline: none;
  }
  
  .searchBtn-box{
    width: 3rem;
    height: 2.81rem;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#828282;

}

.searchBtn-box:hover{
    color:#bb2649;
    border:1px solid #bb2649;
}

.searchBtn{
    margin: auto;
    cursor: pointer;
}

.topMenuArea .topIcon{
    width: 3rem;
    color:#ccc;
    cursor: pointer;
}

.topMenuArea .topIcon:hover{
    color:#bb2649;
}

.topMenuArea{
    padding-right: 0.1rem;
    width: 15rem;
}

@media (max-width: 1050px) {
  .logoArea{
    width: 5rem;
    /* padding: 0 3rem 0 1.5rem; */
  }
}

@media (max-width: 880px) {
  .logoArea{
    width: 3rem;
    padding: 0 3rem 0 1.5rem;
  }
}