.header {
    display: flex;
    position:sticky;
    top:0;
    width: 100vw;
    height: 5rem;
    padding: 0;
    z-index: 10000;
    justify-content: space-between;
    align-items: center;
  }

  .logoArea{
    width: 10vw;
    padding-left: 2.5rem;
    padding-right: 1rem;
    cursor: pointer;
  }

  .search-InputArea{
    display: flex;
    align-items: center;
  }

  .searchInput {
    width: 63vw;
    height: 2.5rem;
    flex-grow: 0;
    margin: auto;
    padding: 0.25rem 3.00rem 0.38rem 3.63rem;
    border-radius: 0.63rem;
    background-color: #fff;
    border:none
  }

  .searchInput:focus{
    border: 1px solid;
    border-color:#bb2649;
    outline: none;
  }
  
  .searchBtn-box{
    width: 3rem;
    height: 2.81rem;
    /* margin: 0 0.3rem; */
    /* border:1px solid #dfdfdf; */
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#828282;

}

.searchBtn-box:hover{
    color:#bb2649;
    border:1px solid #bb2649;
}

.searchBtn{
    margin: auto;
    cursor: pointer;
}

.topMenuArea .topIcon{
    color:#ccc;
    cursor: pointer;
    margin: 0.3rem;
}

.topMenuArea .topIcon:hover{
    color:#bb2649;
}

.topMenuArea{
    padding-right: 40px;
    width: 10rem;
}