.pageMenu-box, .categoryMenu-box {
    width: 9vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: flex-start;
    align-items: center;
    gap: 2.00rem;
    border-radius: 0.63rem;
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1rem 2.7rem 1rem 2.5rem;
  }

.pageMenu-box div, .categoryMenu-box div{
    width: 100%;
    height: 1.6rem;
    cursor: pointer;
    background-color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #909090;
    justify-content: space-between;
  }
  
.pageMenu-box div:hover , .categoryMenu-box div:hover {
    font-weight: 500;
    color: #000;
    transition: all .1s;
  } 

.pageMenu-box div img , .categoryMenu-box div img{
    width: 1.8rem;
    object-fit:cover;
    background: none;
    margin-right: 1rem;
}