body {
  flex-grow: 0;
  background-color: #f5f5f5;
  font-family: "NanumMyeongjo";
}

ul,li{
  list-style: none;
}

.home-wrap{
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}

.profile-wrap{
  display: flex;
}


a{
  text-decoration: none;
  color:inherit;
}

@font-face {
  font-family: "NanumMyeongjo";
  font-style: normal;
  font-weight: normal;
  src: url(./../public/asset/font/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf);
}

@font-face {
  font-family: "NanumMyeongjo";
  src: url(./../public/asset/font/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf);
}




