.commentBox {
    width: 900px;
    height: 160px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
  }

  span {
    width: 890px;
    height: 30px;
    flex-grow: 0;
    font-family: NanumMyeongjo;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .commentInput {
    width: 890px;
    height: 40px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 0;
  }

  .user {
    width: 32px;
    height: 21px;
    flex-grow: 0;
    font-family: NanumMyeongjo;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  .\- {
    width: 464px;
    height: 30px;
    flex-grow: 0;
    font-family: NanumMyeongjo;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
  }

  .Frame-9 {
    width: 890px;
    height: 50px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    padding: 10px 0 0;
  }

  .userImg {
    width: 19px;
    height: 19px;
    flex-grow: 0;
    border-radius: 100px;
  }

  .user {
    width: 25px;
    height: 16px;
    flex-grow: 0;
    font-family: NanumMyeongjo;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .Vector {
    width: 15px;
    height: 13.8px;
    background-color: #000;
  }